Xbim.COBieLiteUK/Schemas/cobieliteuk.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cobielite="http://openbim.org/schemas/cobieliteuk"
  targetNamespace="http://openbim.org/schemas/cobieliteuk"
  elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC1">
  <!--Begin ProjectStages related content-->
  <xs:element name="Project" type="cobielite:ProjectType">
    <xs:annotation>
      <xs:appinfo source="UK2012">Assembly</xs:appinfo>
      <xs:appinfo source="US2013">Assembly</xs:appinfo>
      <xs:documentation>
        Project containing project stages and other related data. This is the root element of COBieLiteUK
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--End ProjectStages related content-->
  <!--Begin ProjectType related content-->
  <xs:complexType name="ProjectType">
    <xs:annotation>
      <xs:appinfo source="UK2012">Project</xs:appinfo>
      <xs:appinfo source="US2013">Project</xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Description" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">D|Description|false</xs:appinfo>
              <xs:appinfo source="US2013">D|Description|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">E|Address|false</xs:appinfo>
              <xs:appinfo source="US2013">E|Address|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Function" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">F|Function|false</xs:appinfo>
              <xs:appinfo source="US2013">F|Function|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Procurement" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">G|Procurement|false</xs:appinfo>
              <xs:appinfo source="US2013">G|Procurement|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="FunctionalUnit" type="xs:double" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">H|FunctionalUnit|false</xs:appinfo>
              <xs:appinfo source="US2013">H|FunctionalUnit|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpectedLifeCycle" type="xs:double" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">I|ExpectedLifeCycle|false</xs:appinfo>
              <xs:appinfo source="US2013">I|ExpectedLifeCycle|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Cost" type="xs:decimal" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">J|Cost|false</xs:appinfo>
              <xs:appinfo source="US2013">J|Cost|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConstructionStart" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">K|ConstructionStart|false</xs:appinfo>
              <xs:appinfo source="US2013">K|ConstructionStart|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConstructionEnd" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">L|ConstructionEnd|false</xs:appinfo>
              <xs:appinfo source="US2013">L|ConstructionEnd|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalSystem" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">M|ExtSystem|false</xs:appinfo>
              <xs:appinfo source="US2013">M|ExtSystem|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalEntity" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">N|ExtObject|false</xs:appinfo>
              <xs:appinfo source="US2013">N|ExtObject|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalID" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">O|ExtIdentifier|false</xs:appinfo>
              <xs:appinfo source="US2013">O|ExtIdentifier|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <!-- Lists of contained elements -->
          <xs:element name="Facilities" type="cobielite:FacilityType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End ProjectType related content-->
  <!--Begin ProjectKeyType related content-->
  <xs:complexType name="ProjectKeyType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <!--End ProjectKeyType related content-->

  <!--Begin Assembly related content-->
  <xs:complexType name="AssemblyType">
    <xs:annotation>
      <xs:appinfo source="UK2012">Assembly</xs:appinfo>
      <xs:appinfo source="US2013">Assembly</xs:appinfo>
      <xs:documentation>The Assembly to which this Asset belongs</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="AssemblyTypeName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">D|AssemblyType|false</xs:appinfo>
              <xs:appinfo source="US2013">G|AssemblyType|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalSystem" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">H|ExtSystem|false</xs:appinfo>
              <xs:appinfo source="US2013">H|ExtSystem|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalEntity" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">I|ExtObject|false</xs:appinfo>
              <xs:appinfo source="US2013">I|ExtObject|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalID" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">J|ExtIdentifier|false</xs:appinfo>
              <xs:appinfo source="US2013">J|ExtIdentifier|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Description" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">K|Description|false</xs:appinfo>
              <xs:appinfo source="US2013">K|Description|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <!-- Lists -->
          <xs:element name="Objects" type="cobielite:ObjectInfoType" maxOccurs="unbounded" />

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Assembly related content-->

  <!--Begin Asset related content-->
  <xs:complexType name="AssetInfoType">
    <xs:annotation>
      <xs:appinfo source="UK2012">Component</xs:appinfo>
      <xs:appinfo source="US2013">Component</xs:appinfo>
      <xs:documentation>A minimum of one COBie.Asset record is required for all COBie deliverables related to equpment Asset information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:ObjectInfoType">
        <xs:sequence>
          <xs:element name="SpaceAssignment" type="cobielite:SpaceKeyType" minOccurs="1">
            <xs:annotation>
              <xs:appinfo source="UK2012">E|Space|true</xs:appinfo>
              <xs:appinfo source="US2013">E|Space|true</xs:appinfo>
              <xs:appinfo source="path">Name</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Description" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">F|Description|true</xs:appinfo>
              <xs:appinfo source="US2013">F|Description|true</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalSystem" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">G|ExtSystem|false</xs:appinfo>
              <xs:appinfo source="US2013">G|ExtSystem|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalEntity" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">H|ExtObject|false</xs:appinfo>
              <xs:appinfo source="US2013">H|ExtObject|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalID" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">I|ExtIdentifier|false</xs:appinfo>
              <xs:appinfo source="US2013">I|ExtIdentifier|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="SerialNumber" type="xs:string" minOccurs="1">
            <xs:annotation>
              <xs:appinfo source="UK2012">J|SerialNumber|true</xs:appinfo>
              <xs:appinfo source="US2013">J|SerialNumber|true</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstalationDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
              <xs:appinfo source="UK2012">K|InstalationDate|true</xs:appinfo>
              <xs:appinfo source="US2013">K|InstalationDate|true</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="WarrantyStartDate" type="xs:dateTime" minOccurs="1">
            <xs:annotation>
              <xs:appinfo source="UK2012">L|WarrantyStartDate|true</xs:appinfo>
              <xs:appinfo source="US2013">L|WarrantyStartDate|true</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="TagNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">M|TagNumber|false</xs:appinfo>
              <xs:appinfo source="US2013">M|TagNumber|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="BarCode" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">N|BarCode|false</xs:appinfo>
              <xs:appinfo source="US2013">N|BarCode|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssetIdentifier" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">O|AssetIdentifier|false</xs:appinfo>
              <xs:appinfo source="US2013">O|AssetIdentifier|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <!-- Lists -->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetInfoKeyType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <!--End Asset related content-->
  <!--Begin AssetType related content-->
  <xs:complexType name="AssetTypeInfoType">
    <xs:annotation>
      <xs:documentation>A minimum of one COBie.Type record is required for all COBie deliverables related to equipment Type information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:ObjectInfoType">
        <xs:sequence>
          <xs:element name="Category" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">D|Category|true</xs:appinfo>
              <xs:appinfo source="US2013">D|Category|true</xs:appinfo>
              <xs:appinfo source="picklist">Category-Product</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Description" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">E|Description|true</xs:appinfo>
              <xs:appinfo source="US2013">E|Description|true</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssetType" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">F|AssetType|true</xs:appinfo>
              <xs:appinfo source="US2013">F|AssetType|true</xs:appinfo>
              <xs:appinfo source="picklist">AssetType</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ManufacturerAssignment" type="cobielite:ContactKeyType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">G|Manufacturer|true</xs:appinfo>
              <xs:appinfo source="US2013">G|Manufacturer|true</xs:appinfo>
              <xs:appinfo source="path">Email</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ModelNumber" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">H|ModelNumber|true</xs:appinfo>
              <xs:appinfo source="US2013">H|ModelNumber|true</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="WarrantyGuarantorPartsAssignment" type="cobielite:ContactKeyType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">I|WarrantyGuarantorParts|true</xs:appinfo>
              <xs:appinfo source="US2013">I|WarrantyGuarantorParts|true</xs:appinfo>
              <xs:appinfo source="path">Email</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="WarrantyDurationParts" type="xs:double" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">J|WarrantyDurationParts|true</xs:appinfo>
              <xs:appinfo source="US2013">J|WarrantyDurationParts|true</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="WarrantyGuarantorLaborAssignment" type="cobielite:ContactKeyType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">K|WarrantyGuarantorLabor|true</xs:appinfo>
              <xs:appinfo source="US2013">K|WarrantyGuarantorLabor|true</xs:appinfo>
              <xs:appinfo source="path">Email</xs:appinfo>
            </xs:annotation>
          </xs:element>
           <xs:element name="WarrantyDurationLabor" type="xs:double" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">L|WarrantyDurationLabor|true</xs:appinfo>
              <xs:appinfo source="US2013">L|WarrantyDurationLabor|true</xs:appinfo>
            </xs:annotation>
          </xs:element>         
          <xs:element name="WarrantyDurationUnit" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">M|WarrantyDurationUnit|true</xs:appinfo>
              <xs:appinfo source="US2013">M|WarrantyDurationUnit|true</xs:appinfo>
              <xs:appinfo source="picklist">DurationUnit</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalSystem" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">N|ExtSystem|false</xs:appinfo>
              <xs:appinfo source="US2013">N|ExtSystem|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalEntity" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">O|ExtObject|false</xs:appinfo>
              <xs:appinfo source="US2013">O|ExtObject|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExternalID" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo source="UK2012">P|ExtIdentifier|false</xs:appinfo>
              <xs:appinfo source="US2013">P|ExtIdentifier|false</xs:appinfo>
            </xs:annotation>
          </xs:element>
          <!-- Lists -->
          <xs:element name="Assets" type="cobielite:AssetInfoType" maxOccurs="unbounded" />

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End AssetType related content-->
  <!--Begin Attribute related content-->
  <xs:complexType name="AttributeType">
    <xs:annotation>
      <xs:documentation>Information about a specific Attribute.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Attribute related content-->
  <!--Begin Connection Related Content-->
  <xs:complexType name="ConnectionType">
    <xs:annotation>
      <xs:documentation>A type for representing Connection Information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Connection Related Content-->
  <!--Begin Contact Related Content-->
  <xs:complexType name="ContactType">
    <xs:annotation>
      <xs:documentation>Information about a specific company who can provide the type of equipment.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Contact Related Content-->
  <!--Begin Contact Key Related Content-->
  <xs:complexType name="ContactKeyType">
    <xs:sequence>
      <xs:element name="Email" type="cobielite:EmailAddress" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <!--End Contact Key Related Content-->
  <!--Begin Document Related Content-->
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Information about a specific Document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Document Related Content-->
  <!--Begin Facility Related Content-->
  <xs:complexType name="FacilityType">
    <xs:annotation>
      <xs:documentation>A type for the Facility element that is the root of a COBie document</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Facility" type="cobielite:FacilityType">
    <xs:annotation>
      <xs:documentation>
        Facility contains information about the facility being exchanged during a given COBie deliverable.  Since COBie deliverables may be exchanged during planning, design, construction, handover, or operation phases there may be differences in facility designations.  COBie files will typically contain a single facility.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--End Facility Related Content-->
  <!--Begin Floor Related Content-->
  <xs:complexType name="FloorType">
    <xs:annotation>
      <xs:documentation>A minimum of one COBie.Floor record is required for all COBie deliverables containing spatial information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Floor Related Content-->
  <!--Begin Issue Related Content-->
  <xs:complexType name="IssueType">
    <xs:annotation>
      <xs:documentation>A specific Issue within this set of Issues.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Issue Related Content-->
  <!--Begin Job Related Content-->
  <xs:complexType name="JobType">
    <xs:annotation>
      <xs:documentation>A minimum of one COBie.Job record is required for all relevant COBie.Type objects submitted at the benefical occupancy or facility handover stage.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Job Related Content-->
  <!--Begin Resource Related Content-->
  <xs:complexType name="ResourceType">
    <xs:annotation>
      <xs:documentation>Information about a specific resource.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Resource Related Content-->
  <!--Begin Space Related Content-->
  <xs:complexType name="SpaceType">
    <xs:annotation>
      <xs:documentation>A minimum of one COBie.Space record is required for all COBie deliverables related to Space information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

          <!-- Lists -->
          <xs:element name="AssetAssignments" type="cobielite:AssetInfoKeyType" maxOccurs="unbounded" />

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SpaceKeyType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <!--End Space Related Content-->
  <!--Begin Spare Related Content-->
  <xs:complexType name="SpareType">
    <xs:annotation>
      <xs:documentation>Information about a specific Spare.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Spare Related Content-->
  <!--Begin System Related Content-->
  <xs:complexType name="SystemType">
    <xs:annotation>
      <xs:documentation>COBie.System information is considered to be required only as-specified.  Please refer to the COBie Guide for more information on specific system requirements.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End System Related Content-->
  <!--Begin Zone Related Content-->
  <xs:complexType name="ZoneType">
    <xs:annotation>
      <xs:documentation>COBie.Zone information is considered to be required only as-specified.  Please refer to the COBie Guide for more information on specific zoning requirements.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Zone Related Content-->


  <!-- Complex types -->
  <xs:complexType name="CobieObject">
    <xs:sequence>
      <!--  Common properties  -->
      <xs:element name="Name" type="xs:string" minOccurs="1">
        <xs:annotation>
          <xs:appinfo source="UK2012">A|Name|true</xs:appinfo>
          <xs:appinfo source="US2013">A|Name|true</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreationAssignment" type="cobielite:ContactKeyType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo source="UK2012">B|CreatedBy|true</xs:appinfo>
          <xs:appinfo source="US2013">B|CreatedBy|true</xs:appinfo>
          <xs:appinfo source="path">Email</xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreatedOn" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:appinfo source="UK2012">C|CreatedOn|true</xs:appinfo>
          <xs:appinfo source="US2013">C|CreatedOn|true</xs:appinfo>
        </xs:annotation>
      </xs:element>

      <!-- Common lists -->
      <xs:element name="Documents" type="cobielite:DocumentType" maxOccurs="unbounded" />
      <xs:element name="Attributes" type="cobielite:AttributeType" maxOccurs="unbounded" />
      <xs:element name="Issues" type="cobielite:IssueType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Begin Object Info content-->
  <xs:complexType name="ObjectInfoType">
    <xs:annotation>
      <xs:documentation>
        This is a base class for asset and asset type which can both act as similar objects in assemblies.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Assemblies" type="cobielite:AssemblyType" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- End Object Info content -->

  <!-- Simple types -->
  <xs:simpleType name="EmailAddress">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^\.]+\..+" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
