Xbim.COBieLiteUK/Schemas/cobieliteuk.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cobielite="http://openbim.org/schemas/cobieliteuk"
  targetNamespace="http://openbim.org/schemas/cobieliteuk"
  elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC1">

  <!--Begin ProjectStage related content-->
  <xs:complexType name="ProjectStage">
    <xs:annotation>
      <xs:appinfo source="parent">Facility</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|ProjectStage|extension</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name          |required|item|-                              |Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy     |required|item|-                              |CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn     |required|item|-                              |CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category      |required|list|PickLists.Category-ProjectStage|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|Description   |optional|item|-                              |Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|ExtSystem     |optional|item|-                              |ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtObject     |optional|item|-                              |ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ExtIdentifier |optional|item|-                              |ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|Start         |optional|item|-                              |Start</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|End           |optional|item|-                              |End</xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Start" type="xs:date" minOccurs="0" nillable="true" />
          <xs:element name="End" type="xs:date" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProjectStageCollection">
    <xs:sequence>
      <xs:element name="ProjectStage" type="cobielite:ProjectStage" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProjectStageKey">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProjectStageKeyCollection">
    <xs:sequence>
      <xs:element name="ProjectStageKey" type="cobielite:ProjectStageKey" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End ProjectStage related content-->

  <!--Begin Assembly related content-->
  <xs:complexType name="Assembly">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Assembly</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|SheetName|required|item|-|parent</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|ParentName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|ChildNames|required|list|-|ChildAssetsOrTypes.Name</xs:appinfo>
      <!-- AssemblyType is defined as a D column in BS 1192-4 but as a G column in referenced docs -->
      <xs:appinfo source="mapping">UK2012|G|AssemblyType|optional|list|PickLists.AssemblyType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|Description|optional|item|-|Description</xs:appinfo>
      
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|L|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>

      <xs:documentation>
        Assembly is a named physical aggregation of a Type or Component into another Type or
        Component where both the overall (owning) assembly part and the constituent
        (owned) part has significance for their operation and use.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <!-- Lists -->
          <xs:element name="ChildAssetsOrTypes" type="cobielite:EntityKeyCollection" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--End Assembly related content-->

  <!--Begin Asset related content-->
  <xs:complexType name="Asset">
    <xs:annotation>
      <xs:appinfo source="parent">AssetType</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Component</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|TypeName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|Space|required|list|-|Spaces.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|Description|required|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|SerialNumber|required|item|-|SerialNumber</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|InstallationDate|required|item|-|InstallationDate</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|WarrantyStartDate|required|item|-|WarrantyStartDate</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|TagNumber|optional|item|-|TagNumber</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|BarCode|optional|item|-|BarCode</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|AssetIdentifier|optional|item|-|AssetIdentifier</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|P|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      
      <xs:documentation>
        Named and individually scheduled physical items and features that might require
        management, such as inspection, maintenance, servicing or replacement, during
        the in-use phase.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Spaces" type="cobielite:SpaceKeyCollection" minOccurs="1" />
          <xs:element name="SerialNumber" type="xs:string" minOccurs="1" />
          <xs:element name="InstallationDate" type="xs:dateTime" minOccurs="1" nillable="true" />
          <xs:element name="WarrantyStartDate" type="xs:dateTime" minOccurs="1" nillable="true" />
          <xs:element name="TagNumber" type="xs:string" minOccurs="0" />
          <xs:element name="BarCode" type="xs:string" minOccurs="0" />
          <xs:element name="AssetIdentifier" type="xs:string" minOccurs="0" />

          <!-- Lists -->
          <xs:element name="Connections" type="cobielite:ConnectionCollection" minOccurs="0" maxOccurs="1" />
          <xs:element name="AssemblyOf" type="cobielite:Assembly" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetKey">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssetCollection">
    <xs:sequence>
      <xs:element name="Asset" type="cobielite:Asset" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssetKeyCollection">
    <xs:sequence>
      <xs:element name="AssetKey" type="cobielite:AssetKey" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Asset related content-->

  <!--Begin AssetType related content-->
  <xs:complexType name="AssetType">
    <xs:annotation>
      <xs:appinfo source="parent">Facility</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Type</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.Category-Product|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|Description|required|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|AssetType|required|item|PickLists.AssetType|AssetTypeCustom</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|Manufacturer|required|item|-|Manufacturer.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ModelNumber|required|item|-|ModelNumber</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|WarrantyGuarantorParts|required|item|-|Warranty.GuarantorParts.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|WarrantyDurationParts|required|item|-|Warranty.DurationParts</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|WarrantyGuarantorLabor|required|item|-|Warranty.GuarantorLabor.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|WarrantyDurationLabor|required|item|-|Warranty.DurationLabor</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|WarrantyDurationUnit|required|item|PickLists.DurationUnit|Warranty.DurationUnit</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|P|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|Q|ReplacementCost|optional|item|-|ReplacementCost</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|R|ExpectedLife|optional|item|-|ExpectedLife</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|S|DurationUnit|optional|item|PickLists.DurationUnit|DurationUnit</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|T|WarrantyDescription|optional|item|-|Warranty.Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|U|NominalLength|required|item|-|NominalLength</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|V|NominalWidth|required|item|-|NominalWidth</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|W|NominalHeight|required|item|-|NominalHeight</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|X|ModelReference|optional|item|-|ModelReference</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|Y|Shape|optional|item|-|Shape</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|Z|Size|optional|item|-|Size</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AA|Color|optional|item|-|Color</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AB|Finish|optional|item|-|Finish</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AC|Grade|optional|item|-|Grade</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AD|Material|optional|item|-|Material</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AE|Constituents|optional|item|-|Constituents</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AF|Features|optional|item|-|Features</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AG|AccessibilityPerformance|optional|item|-|AccessibilityPerformance</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AH|CodePerformance|optional|item|-|CodePerformance</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|AI|SustainabilityPerformance|optional|item|-|SustainabilityPerformance</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|AJ|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Asset type is a named specification for Components including equipment, products and materials.
        A minimum of one COBie.Type record is required for all COBie deliverables related to equipment Type information.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="AssetTypeCustom" type="xs:string" minOccurs="1" />
          <xs:element name="AssetTypeEnum" type="cobielite:AssetPortability" minOccurs="0" />
          <xs:element name="Manufacturer" type="cobielite:ContactKey" minOccurs="1" />
          <xs:element name="ModelNumber" type="xs:string" minOccurs="1" />
          <xs:element name="Warranty" type="cobielite:Warranty" minOccurs="1" />
          <xs:element name="ReplacementCost" type="xs:double" minOccurs="0" nillable="true" />
          <xs:element name="ExpectedLife" type="xs:double" minOccurs="0" nillable="true" />
          <xs:element name="DurationUnit" type="cobielite:DurationUnit" minOccurs="0" nillable="true" />
          <xs:element name="NominalLength" type="xs:double" minOccurs="1" nillable="true" />
          <xs:element name="NominalWidth" type="xs:double" minOccurs="1" nillable="true" />
          <xs:element name="NominalHeight" type="xs:double" minOccurs="1" nillable="true" />
          <xs:element name="ModelReference" type="xs:string" minOccurs="0" />
          <xs:element name="Shape" type="xs:string" minOccurs="0" />
          <xs:element name="Size" type="xs:string" minOccurs="0" />
          <xs:element name="Color" type="xs:string" minOccurs="0" />
          <xs:element name="Finish" type="xs:string" minOccurs="0" />
          <xs:element name="Grade" type="xs:string" minOccurs="0" />
          <xs:element name="Material" type="xs:string" minOccurs="0" />
          <xs:element name="Constituents" type="xs:string" minOccurs="0" />
          <xs:element name="Features" type="xs:string" minOccurs="0" />
          <xs:element name="AccessibilityPerformance" type="xs:string" minOccurs="0" />
          <xs:element name="CodePerformance" type="xs:string" minOccurs="0" />
          <xs:element name="SustainabilityPerformance" type="xs:string" minOccurs="0" />

          <!-- Lists -->
          <xs:element name="Assets" type="cobielite:AssetCollection" maxOccurs="1" minOccurs="0" />
          <xs:element name="Spares" type="cobielite:SpareCollection" maxOccurs="1" minOccurs="0" />
          <xs:element name="Jobs" type="cobielite:JobCollection" maxOccurs="1" minOccurs="0" />
          <xs:element name="AssemblyOf" type="cobielite:Assembly" maxOccurs="1" minOccurs="0" />

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetTypeKey">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssetTypeCollection">
    <xs:sequence>
      <xs:element name="AssetType" type="cobielite:AssetType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AssetTypeKeyCollection">
    <xs:sequence>
      <xs:element name="AssetTypeKey" type="cobielite:AssetTypeKey" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!-- Warranty -->
  <xs:complexType name="Warranty">
    <xs:annotation>
      <xs:documentation>
        This holds group of warranty related properties to make data model more granular
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuarantorParts" type="cobielite:ContactKey" minOccurs="1" />
      <xs:element name="Description" type="xs:string" minOccurs="0" />
      <xs:element name="DurationParts" type="xs:double" minOccurs="1" nillable="true" />
      <xs:element name="GuarantorLabor" type="cobielite:ContactKey" minOccurs="1" />
      <xs:element name="DurationLabor" type="xs:double" minOccurs="1" nillable="true" />
      <xs:element name="DurationUnit" type="cobielite:DurationUnit" minOccurs="1" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <!-- End Warranty -->
  <!--End AssetType related content-->

  <!--Begin Attribute related content-->
  <xs:complexType name="Attribute">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Attribute</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.StageType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|SheetName|required|item|PickLists.SheetType|parent</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|RowName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|Value|required|item|-|Value.Value</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|Unit|required|item|-|Value.Unit</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|Description|optional|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|AllowedValues|optional|list|-|Value.AllowedValuesString</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|N|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Attribute is a named specific characteristic associated to an asset or other information objects.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:choice>
            <xs:element name="StringAttributeValue" type="cobielite:StringAttributeValue" minOccurs="1" />
            <xs:element name="BooleanAttributeValue" type="cobielite:BooleanAttributeValue" minOccurs="1" />
            <xs:element name="IntegerAttributeValue" type="cobielite:IntegerAttributeValue" minOccurs="1" />
            <xs:element name="DateTimeAttributeValue" type="cobielite:DateTimeAttributeValue" minOccurs="1" />
            <xs:element name="DecimalAttributeValue" type="cobielite:DecimalAttributeValue" minOccurs="1" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AttributeCollection">
    <xs:sequence>
      <xs:element name="Attribute" type="cobielite:Attribute" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Attribute related content-->

  <!--Begin Connection Related Content-->
  <xs:complexType name="Connection">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Connection</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|ConnectionType|required|list|PickLists.ConnectionType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|SheetName|optional|item|PickLists.SheetType|parent</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|RowName1|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|RowName2|required|item|-|ConnectedTo.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|RealizingElement|optional|item|-|RealizingElement.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|PortName1|optional|item|-|PortName1</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|PortName2|optional|item|-|PortName2</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|Description|optional|item|-|Description</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|O|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Connection is a named logical relationship between two Components.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="ConnectedTo" type="cobielite:AssetKey" minOccurs="1" />
          <xs:element name="RealizingElement" type="cobielite:AssetKey" minOccurs="0" />
          <xs:element name="PortName1" type="xs:string" minOccurs="0" />
          <xs:element name="PortName2" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConnectionCollection">
    <xs:sequence>
      <xs:element name="Connection" type="cobielite:Connection" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Connection Related Content-->

  <!--Begin Contact Related Content-->
  <xs:complexType name="Contact">
    <xs:annotation>
      <xs:appinfo source="parent">Facility</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Contact</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Email|required|item|-|Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.Category-Role|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|Company|required|item|-|Company</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|Phone|required|item|-|Phone</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|Department|optional|item|-|Department</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|OrganizationCode|optional|item|-|OrganizationCode</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|GivenName|optional|item|-|GivenName</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|FamilyName|optional|item|-|FamilyName</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|Street|optional|item|-|Street</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|PostalBox|optional|item|-|PostalBox</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|P|Town|optional|item|-|Town</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|Q|StateRegion|optional|item|-|StateRegion</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|R|PostalCode|optional|item|-|PostalCode</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|S|Country|optional|item|-|Country</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|T|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Contact is a named person and/or organization involved in the Facility lifecycle.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Email" type="xs:string" minOccurs="1" />
          <xs:element name="Company" type="xs:string" minOccurs="1" />
          <xs:element name="Phone" type="xs:string" minOccurs="1" />
          <xs:element name="Department" type="xs:string" minOccurs="0" />
          <xs:element name="OrganizationCode" type="xs:string" minOccurs="0" />
          <xs:element name="GivenName" type="xs:string" minOccurs="0" />
          <xs:element name="FamilyName" type="xs:string" minOccurs="0" />
          <xs:element name="Street" type="xs:string" minOccurs="0" />
          <xs:element name="PostalBox" type="xs:string" minOccurs="0" />
          <xs:element name="Town" type="xs:string" minOccurs="0" />
          <xs:element name="StateRegion" type="xs:string" minOccurs="0" />
          <xs:element name="PostalCode" type="xs:string" minOccurs="0" />
          <xs:element name="Country" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactKey">
    <xs:sequence>
      <xs:element name="Email" type="cobielite:EmailAddress" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactCollection">
    <xs:sequence>
      <xs:element name="Contact" type="cobielite:Contact" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactKeyCollection">
    <xs:sequence>
      <xs:element name="ContactKey" type="cobielite:ContactKey" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Contact Related Content-->

  <!--Begin Document Related Content-->
  <xs:complexType name="Document">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Document</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.DocumentType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|ApprovalBy|required|item|PickLists.ApprovalBy|ApprovalBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|Stage|required|item|PickLists.StageType|Stage</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|SheetName|required|item|PickLists.SheetType|parent</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|RowName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|Directory|required|item|-|Directory</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|File|required|item|-|File</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|Description|optional|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|Reference|optional|item|-|Reference</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|P|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Document is a named external document associated to an asset or other information object.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="ApprovalBy" type="cobielite:ContactKey" minOccurs="1" />
          <xs:element name="Stage" type="xs:string" minOccurs="1" />
          <xs:element name="Directory" type="xs:string" minOccurs="1" />
          <xs:element name="File" type="xs:string" minOccurs="1" />
          <xs:element name="Reference" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentCollection">
    <xs:sequence>
      <xs:element name="Document" type="cobielite:Document" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Document Related Content-->

  <!--Begin Facility Related Content-->
  <xs:complexType name="Facility">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Facility</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.Category-Facility|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|ProjectName|required|item|-|Project.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|SiteName|required|item|-|Site.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|LinearUnits|required|item|PickLists.LinearUnits|LinearUnitsCustom</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|AreaUnits|required|item|PickLists.AreaUnits|AreaUnitsCustom</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|VolumeUnits|required|item|PickLists.VolumeUnits|VolumeUnitsCustom</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|CurrencyUnit|required|item|PickLists.CostUnit|CurrencyUnitCustom</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|AreaMeasurement|required|item|-|AreaMeasurement</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|ExternalSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|ExternalProjectObject|optional|item|-|Project.ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|ExternalProjectIdentifier|optional|item|-|Project.ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|ExternalSiteObject|optional|item|-|Site.ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|P|ExternalSiteIdentifier|optional|item|-|Site.ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|Q|ExternalFacilityObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|R|ExternalFacilityIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|S|Description|optional|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|T|ProjectDescription|optional|item|-|Project.Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|U|SiteDescription|optional|item|-|Site.Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|V|Phase|required|item|-|Phase</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|W|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        A type for the Facility element that is the root of a COBie document.
        Facility contains information about the facility being exchanged during a given COBie deliverable.
        Since COBie deliverables may be exchanged during planning, design, construction, handover, or operation
        phases there may be differences in facility designations.
        COBie files will typically contain a single facility.
        Facility is a named distinct operational built or geographic asset, typically a building or section
        of infrastructure along with details and extent of the geographic site and of the
        temporal project
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Metadata" type="cobielite:Metadata" minOccurs="1" />
          <xs:element name="Project" type="cobielite:Project" minOccurs="1" maxOccurs="1" />
          <xs:element name="Site" type="cobielite:Site" minOccurs="1" maxOccurs="1" />

          <!-- Units -->
          <xs:element name="LinearUnits" type="cobielite:LinearUnit" minOccurs="1" />
          <xs:element name="LinearUnitsCustom" type="xs:string" minOccurs="1" nillable="true" />
          <xs:element name="AreaUnits" type="cobielite:AreaUnit" minOccurs="1" />
          <xs:element name="AreaUnitsCustom" type="xs:string" minOccurs="1" nillable="true" />
          <xs:element name="VolumeUnits" type="cobielite:VolumeUnit" minOccurs="1" />
          <xs:element name="VolumeUnitsCustom" type="xs:string" minOccurs="1" nillable="true" />
          <xs:element name="CurrencyUnit" type="cobielite:CurrencyUnit" minOccurs="1" />
          <xs:element name="CurrencyUnitCustom" type="xs:string" minOccurs="1" nillable="true" />

          <xs:element name="AreaMeasurement" type="xs:string" minOccurs="1" />
          <xs:element name="Phase" type="xs:string" minOccurs="0" />

          <!-- Lists of top level objects -->
          <xs:element name="Floors" type="cobielite:FloorCollection" minOccurs="0" maxOccurs="1" />
          <xs:element name="AssetTypes" type="cobielite:AssetTypeCollection" minOccurs="0" maxOccurs="1" />
          <xs:element name="Contacts" type="cobielite:ContactCollection" minOccurs="0" maxOccurs="1" />
          <xs:element name="Systems" type="cobielite:SystemCollection" minOccurs="0" maxOccurs="1" />
          <xs:element name="Zones" type="cobielite:ZoneCollection" minOccurs="0" maxOccurs="1" />
          <xs:element name="Resources" type="cobielite:ResourceCollection" minOccurs="0" maxOccurs="1" />
          <xs:element name="Stages" type="cobielite:ProjectStageCollection" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" />
      <xs:element name="Description" type="xs:string" minOccurs="0" />
      <xs:element name="ExternalEntity" type="xs:string" minOccurs="0" />
      <xs:element name="ExternalId" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Site">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" />
      <xs:element name="Description" type="xs:string" minOccurs="0" />
      <xs:element name="ExternalEntity" type="xs:string" minOccurs="0" />
      <xs:element name="ExternalId" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Facility" type="cobielite:Facility">
    <xs:annotation>
      <xs:documentation>
        Facility contains information about the facility being exchanged during a given COBie deliverable.  Since COBie deliverables may be exchanged during planning, design, construction, handover, or operation phases there may be differences in facility designations.  COBie files will typically contain a single facility.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--End Facility Related Content-->

  <!--Begin Floor Related Content-->
  <xs:complexType name="Floor">
    <xs:annotation>
      <xs:appinfo source="parent">Facility</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Floor</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.FloorType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|Description|optional|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|Elevation|optional|item|-|Elevation</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|Height|optional|item|-|Height</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|K|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Floor is a named intermediate spatial subdivision, including distinct vertical levels and
        horizontal areas and sections with Spaces allocated.
        A minimum of one in COBie. Floor record is required for all COBie deliverables containing spatial information.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Elevation" type="xs:double" minOccurs="0" nillable="true" />
          <xs:element name="Height" type="xs:double" minOccurs="0" nillable="true" />

          <!-- List of spaces -->
          <xs:element name="Spaces" type="cobielite:SpaceCollection" minOccurs="0" maxOccurs="1" />

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FloorCollection">
    <xs:sequence>
      <xs:element name="Floor" type="cobielite:Floor" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Floor Related Content-->

  <!--Begin Issue Related Content-->
  <xs:complexType name="Issue">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Issue</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Type|required|list|PickLists.IssueCategory|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|Risk|required|item|PickLists.IssueRisk|Risk</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|Chance|required|item|PickLists.IssueChance|Chance</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|Impact|required|item|PickLists.IssueImpact|Impact</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|SheetName1|required|item|PickLists.SheetType|parent</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|RowName1|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|SheetName2|required|item|PickLists.SheetType|IssueWith.KeyType</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|RowName2|required|item|-|IssueWith.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|Description|required|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|Owner|required|item|-|Owner.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|Mitigation|required|item|-|Mitigation</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|P|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|Q|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|R|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Issue is a named deficiency in the information or risk associated to the assets or other information objects.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Risk" type="xs:string" minOccurs="1" />
          <xs:element name="Chance" type="xs:string" minOccurs="1" />
          <xs:element name="Impact" type="xs:string" minOccurs="1" />
          <xs:element name="Owner" type="cobielite:ContactKey" minOccurs="1" />
          <xs:element name="Mitigation" type="xs:string" minOccurs="1" />
          <xs:element name="IssueWith" type="cobielite:EntityKey" minOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IssueCollection">
    <xs:sequence>
      <xs:element name="Issue" type="cobielite:Issue" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Issue Related Content-->

  <!--Begin Impact Related Content-->
  <xs:complexType name="Impact">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Impact</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|ImpactType|required|list|PickLists.ImpactType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|ImpactStage|required|item|PickLists.ImpactStage|ImpactStage</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|SheetName|required|item|PickLists.SheetType|parent</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|RowName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|Value|required|item|-|Value</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|ImpactUnit|required|item|PickLists.ImpactUnit|ImpactUnit</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|LeadInTime|optional|item|-|LeadInTime</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|Duration|optional|item|-|Duration</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|LeadOutTime|optional|item|-|LeadOutTime</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|P|Description|optional|item|-|Description</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|Q|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Impact is a named economic and environmental measure.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="ImpactStage" type="xs:string" minOccurs="1" />
          <xs:element name="Value" type="xs:string" minOccurs="1" />
          <xs:element name="ImpactUnit" type="xs:string" minOccurs="1" />
          <xs:element name="LeadInTime" type="xs:double" minOccurs="0" nillable="true" />
          <xs:element name="Duration" type="xs:double" minOccurs="0" nillable="true" />
          <xs:element name="LeadOutTime" type="xs:double" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImpactCollection">
    <xs:sequence>
      <xs:element name="Impact" type="cobielite:Impact" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Impact Related Content-->

  <!--Begin Job Related Content-->
  <xs:complexType name="Job">
    <xs:annotation>
      <xs:appinfo source="parent">AssetType</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Job</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.JobType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|Status|required|item|PickLists.JobStatusType|Status</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|TypeName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|Description|required|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|Duration|required|item|-|Duration</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|DurationUnit|required|item|PickLists.DurationUnit|DurationUnit</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|Start|required|item|-|Start</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|TaskStartUnit|required|item|PickLists.DurationUnit|TaskStartUnit</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|Frequency|required|item|-|Frequency</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|FrequencyUnit|required|item|PickLists.DurationUnit|FrequencyUnit</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|P|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|Q|TaskNumber|optional|item|-|TaskNumber</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|R|Priors|optional|list|-|Priors.TaskNumber</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|S|ResourceNames|optional|list|-|Resources.Name</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|T|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Job is a named task or activity during the in-use phase associated to Types.
        A minimum of one COBie.Job record is required for all relevant COBie.Type objects submitted at the benefical occupancy or
        facility handover stage.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Status" type="xs:string" minOccurs="1" />
          <xs:element name="Duration" type="xs:double" minOccurs="1" nillable="true" />
          <xs:element name="DurationUnit" type="cobielite:DurationUnit" minOccurs="1" nillable="true" />
          <xs:element name="Start" type="xs:double" minOccurs="1" nillable="true" />
          <xs:element name="TaskStartUnit" type="cobielite:DurationUnit" minOccurs="1" nillable="true" />
          <xs:element name="Frequency" type="xs:double" minOccurs="1" nillable="true" />
          <xs:element name="FrequencyUnit" type="cobielite:DurationUnit" minOccurs="1" nillable="true" />
          <xs:element name="TaskNumber" type="xs:string" minOccurs="0" />
          <xs:element name="Priors" type="cobielite:JobKeyCollection" minOccurs="0" maxOccurs="1" />

          <!-- Lists -->
          <xs:element name="Resources" type="cobielite:ResourceKeyCollection" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JobCollection">
    <xs:sequence>
      <xs:element name="Job" type="cobielite:Job" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JobKeyCollection">
    <xs:sequence>
      <xs:element name="JobKey" type="cobielite:JobKey" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JobKey">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="TaskNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <!--End Job Related Content-->

  <!--Begin Resource Related Content-->
  <xs:complexType name="Resource">
    <xs:annotation>
      <xs:appinfo source="parent">Facility</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Resource</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.ResourceType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|Description|optional|item|-|Description</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|I|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Resource is a named material or skill required to execute Jobs.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResourceKey">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceCollection">
    <xs:sequence>
      <xs:element name="Resource" type="cobielite:Resource" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResourceKeyCollection">
    <xs:sequence>
      <xs:element name="ResourceKey" type="cobielite:ResourceKey" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Resource Related Content-->

  <!--Begin Representation Related Content-->
  <xs:complexType name="Representation">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Coordinate</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.CoordinateType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|SheetName|required|item|PickLists.CoordinateSheet|parent</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|RowName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|CoordinateXAxis|required|item|-|X</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|CoordinateYAxis|required|item|-|Y</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|CoordinateZAxis|required|item|-|Z</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|ClockwiseRotation|optional|item|-|Roll</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|N|ElevationalRotation|optional|item|-|Pitch</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|O|YawRotation|optional|item|-|Yaw</xs:appinfo>
      
      <!-- BS1192-4 additions -->
      <xs:appinfo source="mapping">UK2012|P|RelativeTo|optional|item|-|RelativeTo</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|Q|LRM|optional|item|-|LRM</xs:appinfo>

      <!-- Experimental additions -->
      <xs:appinfo source="mapping">UK2012|R|SizeX|optional|item|-|SizeX|extension</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|S|SizeY|optional|item|-|SizeY|extension</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|T|SizeZ|optional|item|-|SizeZ|extension</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|U|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>

      <xs:documentation>
        Representation (Coordinate) is a named position associated to Facility, Floor (region), Space (location), Component
        or Assembly.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="X" type="xs:double" minOccurs="1" />
          <xs:element name="Y" type="xs:double" minOccurs="1" />
          <xs:element name="Z" type="xs:double" minOccurs="1" />
          <xs:element name="SizeX" type="xs:double" minOccurs="1" />
          <xs:element name="SizeY" type="xs:double" minOccurs="1" />
          <xs:element name="SizeZ" type="xs:double" minOccurs="1" />
          <xs:element name="Yaw" type="xs:double" minOccurs="1" />
          <xs:element name="Pitch" type="xs:double" minOccurs="1" />
          <xs:element name="Roll" type="xs:double" minOccurs="1" />
          <xs:element name="RelativeTo" type="xs:string" minOccurs="0" >
            <xs:annotation>
              <xs:documentation>
                (BS 1192-4) This refers to the name of earlier points.
                This allows relative placements of Coordinates to be explicitly documented.
                This overrides the default placement of Components relative to Spaces (locations), of
                Spaces (locations) relative to Floors (regions) and Floors (regions) relative to the Facility.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LRM" type="xs:string" minOccurs="0" >
            <xs:annotation>
              <xs:documentation>
                (BS 1192-4) Linear Referencing Method
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RepresentationCollection">
    <xs:sequence>
      <xs:element name="Representation" type="cobielite:Representation" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Representation Related Content-->

  <!--Begin Space Related Content-->
  <xs:complexType name="Space">
    <xs:annotation>
      <xs:appinfo source="parent">Floor</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Space</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.Category-Space|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|FloorName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|Description|required|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|RoomTag|optional|item|-|RoomTag</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|UsableHeight|optional|item|-|UsableHeight</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|GrossArea|optional|item|-|GrossArea</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|M|NetArea|optional|item|-|NetArea</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|N|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Space is a named location for activities such as use, inspection or maintenance, including
        unoccupied or uninhabitable Spaces, but not necessarily inaccessible voids.
        A minimum of one COBie.Space record is required for all COBie deliverables related to Space information.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="RoomTag" type="xs:string" minOccurs="0" />
          <xs:element name="UsableHeight" type="xs:double" minOccurs="0" nillable="true" />
          <xs:element name="GrossArea" type="xs:double" minOccurs="0" nillable="true" />
          <xs:element name="NetArea" type="xs:double" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SpaceKey">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpaceCollection">
    <xs:sequence>
      <xs:element name="Space" type="cobielite:Space" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpaceKeyCollection">
    <xs:sequence>
      <xs:element name="SpaceKey" type="cobielite:SpaceKey" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Space Related Content-->

  <!--Begin Spare Related Content-->
  <xs:complexType name="Spare">
    <xs:annotation>
      <xs:appinfo source="parent">AssetType</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Spare</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.SpareType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|TypeName|required|item|-|parent.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|Suppliers|required|list|-|Suppliers.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|J|Description|optional|item|-|Description</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|K|SetNumber|optional|item|-|SetNumber</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|L|PartNumber|optional|item|-|PartNumber</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|M|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Spare is a named replaceable part associated to Types.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Suppliers" type="cobielite:ContactKeyCollection" minOccurs="0" maxOccurs="1" />
          <xs:element name="SetNumber" type="xs:string" minOccurs="0" />
          <xs:element name="PartNumber" type="xs:string" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SpareCollection">
    <xs:sequence>
      <xs:element name="Spare" type="cobielite:Spare" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Spare Related Content-->

  <!--Begin System Related Content-->
  <xs:complexType name="System">
    <xs:annotation>
      <xs:appinfo source="parent">Facility</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|System</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.Category-Element|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|ComponentNames|required|list|-|Components.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|Description|optional|item|-|Description</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|J|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        System is a named set of manageable Components providing a common function.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Components" type="cobielite:AssetKeyCollection" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemCollection">
    <xs:sequence>
      <xs:element name="System" type="cobielite:System" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End System Related Content-->

  <!--Begin Zone Related Content-->
  <xs:complexType name="Zone">
    <xs:annotation>
      <xs:appinfo source="parent">Facility</xs:appinfo>
      <xs:appinfo source="sheet">UK2012|Zone</xs:appinfo>
      <!--mapping, column, header, required/optional, list/item, pick/-, path-->
      <xs:appinfo source="mapping">UK2012|A|Name|required|item|-|Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|B|CreatedBy|required|item|-|CreatedBy.Email</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|C|CreatedOn|required|item|-|CreatedOn</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|D|Category|required|list|PickLists.ZoneType|Categories.CategoryString</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|E|SpaceNames|required|list|-|Spaces.Name</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|F|ExtSystem|optional|item|-|ExternalSystem</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|G|ExtObject|optional|item|-|ExternalEntity</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|H|ExtIdentifier|optional|item|-|ExternalId</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|I|Description|optional|item|-|Description</xs:appinfo>
      <!-- Experimental extensions -->
      <xs:appinfo source="mapping">UK2012|J|ProjectStages|optional|list|-|ProjectStages.Name|extension</xs:appinfo>
      <xs:documentation>
        Zone is a named set of Spaces (locations) sharing a specific Attribute, such as activity, access,
        management or conditioning.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
          <xs:element name="Spaces" type="cobielite:SpaceKeyCollection" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ZoneCollection">
    <xs:sequence>
      <xs:element name="Zone" type="cobielite:Zone" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!--End Zone Related Content-->

  <!-- Begin COBie metadata -->
  <xs:complexType name="Metadata">
    <xs:annotation>
      <xs:appinfo source="sheet">UK2012|Instruction</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|1|Title|optional|item|-|Title</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|2|Version|optional|item|-|Version</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|3|Release|optional|item|-|Release</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|4|Status|optional|item|-|Status</xs:appinfo>
      <xs:appinfo source="mapping">UK2012|5|Region|optional|item|-|Region</xs:appinfo>
      <xs:documentation>
        This object contains metadata about the COBie like its version, target region or status of the data.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Title" type="xs:string" default="COBIE"/>
      <xs:element name="Version" type="xs:string" default="2"/>
      <xs:element name="Release" type="xs:string" default="4"/>
      <xs:element name="Status" type="xs:string" default="ifc2x3"/>
      <xs:element name="Region" type="xs:string" default="EN-UK"/>
    </xs:sequence>
  </xs:complexType>
  <!-- End COBie metadata-->

  <!-- Begin CobieUniqueObject type -->
  <!--<xs:complexType name="CobieUniqueObject">
    <xs:complexContent>
      <xs:extension base="cobielite:CobieObject">
        <xs:sequence>
      <xs:element name="Documents" type="cobielite:DocumentCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="Attributes" type="cobielite:AttributeCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="Issues" type="cobielite:IssueCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="Impacts" type="cobielite:ImpactCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="Representations" type="cobielite:RepresentationCollection" maxOccurs="1" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
    
  </xs:complexType>-->
  <!-- End CobieUniqueObject type -->
  
  
  <!-- Begin CobieObject type -->
  <xs:complexType name="CobieObject" abstract="true">
    <xs:sequence>
      <!--  Common properties  -->
      <xs:element name="Name" type="xs:string" minOccurs="1" />
      <xs:element name="Description" type="xs:string" minOccurs="0" />
      <xs:element name="CreatedBy" type="cobielite:ContactKey" minOccurs="1" />
      <xs:element name="CreatedOn" type="xs:dateTime" minOccurs="1" nillable="true" />
      <xs:element name="Categories" type="cobielite:CategoryCollection" minOccurs="0" />

      <!-- External system identifiers -->
      <xs:element name="ExternalSystem" type="xs:string" minOccurs="0" />
      <xs:element name="ExternalEntity" type="xs:string" minOccurs="0" />
      <xs:element name="ExternalId" type="xs:string" minOccurs="0" />

      <!-- Common lists -->
      <xs:element name="Documents" type="cobielite:DocumentCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="Attributes" type="cobielite:AttributeCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="Issues" type="cobielite:IssueCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="Impacts" type="cobielite:ImpactCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="Representations" type="cobielite:RepresentationCollection" maxOccurs="1" minOccurs="0" />
      <xs:element name="ProjectStages" type="cobielite:ProjectStageKeyCollection" maxOccurs="1" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="KeyType" type="cobielite:EntityType" default="Not defined"/>
  </xs:complexType>
  <xs:complexType name="EntityKeyCollection">
    <xs:sequence>
      <xs:element name="EntityKey" type="cobielite:EntityKey" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element name="Classification" type="xs:string" minOccurs="0" />
      <xs:element name="Code" type="xs:string" minOccurs="1" />
      <xs:element name="Description" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryCollection">
    <xs:sequence>
      <xs:element name="Category" type="cobielite:Category" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!-- End CobieObject type -->

  <!-- Begin Attribute values -->
  <xs:complexType name="AttributeValue" abstract="true">
    <xs:sequence>
      <xs:element name="Unit" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StringAttributeValue">
    <xs:complexContent>
      <xs:extension base="cobielite:AttributeValue">
        <xs:sequence>
          <xs:element name="Value" type="xs:string" minOccurs="1" />
          <xs:element name="AllowedValues" type="cobielite:AllowedStringValuesCollection" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AllowedStringValuesCollection">
    <xs:sequence>
      <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BooleanAttributeValue">
    <xs:complexContent>
      <xs:extension base="cobielite:AttributeValue">
        <xs:sequence>
          <xs:element name="Value" type="xs:boolean" minOccurs="1" nillable="true"/>
          <xs:element name="AllowedValue" type="xs:boolean" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DateTimeAttributeValue">
    <xs:complexContent>
      <xs:extension base="cobielite:AttributeValue">
        <xs:sequence>
          <xs:element name="Value" type="xs:dateTime" minOccurs="1" nillable="true" />
          <xs:element name="MinimalValue" type="xs:dateTime" minOccurs="0" nillable="true" />
          <xs:element name="MaximalValue" type="xs:dateTime" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DecimalAttributeValue">
    <xs:complexContent>
      <xs:extension base="cobielite:AttributeValue">
        <xs:sequence>
          <xs:element name="Value" type="xs:double" minOccurs="1" nillable="true" />
          <xs:element name="MinimalValue" type="xs:double" minOccurs="0" nillable="true" />
          <xs:element name="MaximalValue" type="xs:double" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IntegerAttributeValue">
    <xs:complexContent>
      <xs:extension base="cobielite:AttributeValue">
        <xs:sequence>
          <xs:element name="Value" type="xs:int" minOccurs="1" nillable="true"/>
          <xs:element name="MinimalValue" type="xs:int" minOccurs="0" nillable="true" />
          <xs:element name="MaximalValue" type="xs:int" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- End Attribute values -->

  <!-- Simple types -->
  <xs:simpleType name="EmailAddress">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^\.]+\..+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AreaUnit">
    <xs:annotation>
      <xs:documentation>Acceptable area units for Facility default units.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="square centimeters">
        <xs:annotation>
          <xs:appinfo source="alias">square centimeters</xs:appinfo>
          <xs:appinfo source="alias">square centimeter</xs:appinfo>
          <xs:appinfo source="alias">squarecentimeters</xs:appinfo>
          <xs:appinfo source="alias">squarecentimeter</xs:appinfo>
          <xs:appinfo source="alias">cm2</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="square feet">
        <xs:annotation>
          <xs:appinfo source="alias">square feets</xs:appinfo>
          <xs:appinfo source="alias">square feet</xs:appinfo>
          <xs:appinfo source="alias">squarefeets</xs:appinfo>
          <xs:appinfo source="alias">squarefeet</xs:appinfo>
          <xs:appinfo source="alias">ft2</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="square inches">
        <xs:annotation>
          <xs:appinfo source="alias">square inches</xs:appinfo>
          <xs:appinfo source="alias">square inch</xs:appinfo>
          <xs:appinfo source="alias">squareinches</xs:appinfo>
          <xs:appinfo source="alias">squareinch</xs:appinfo>
          <xs:appinfo source="alias">in2</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="square kilometers">
        <xs:annotation>
          <xs:appinfo source="alias">square kilometers</xs:appinfo>
          <xs:appinfo source="alias">square kilometer</xs:appinfo>
          <xs:appinfo source="alias">squarekilometers</xs:appinfo>
          <xs:appinfo source="alias">squarekilometer</xs:appinfo>
          <xs:appinfo source="alias">km2</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="square meters">
        <xs:annotation>
          <xs:appinfo source="alias">square meters</xs:appinfo>
          <xs:appinfo source="alias">square meter</xs:appinfo>
          <xs:appinfo source="alias">squaremeters</xs:appinfo>
          <xs:appinfo source="alias">squaremeter</xs:appinfo>
          <xs:appinfo source="alias">m2</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="square miles">
        <xs:annotation>
          <xs:appinfo source="alias">square miles</xs:appinfo>
          <xs:appinfo source="alias">square mile</xs:appinfo>
          <xs:appinfo source="alias">squaremiles</xs:appinfo>
          <xs:appinfo source="alias">squaremile</xs:appinfo>
          <xs:appinfo source="alias">mile2</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="square millimeters">
        <xs:annotation>
          <xs:appinfo source="alias">square milimeters</xs:appinfo>
          <xs:appinfo source="alias">square milimeter</xs:appinfo>
          <xs:appinfo source="alias">squaremilimeters</xs:appinfo>
          <xs:appinfo source="alias">squaremilimeter</xs:appinfo>
          <xs:appinfo source="alias">mm2</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="square yards">
        <xs:annotation>
          <xs:appinfo source="alias">square yards</xs:appinfo>
          <xs:appinfo source="alias">square yard</xs:appinfo>
          <xs:appinfo source="alias">squareyards</xs:appinfo>
          <xs:appinfo source="alias">squareyard</xs:appinfo>
          <xs:appinfo source="alias">yd2</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="not defined">
        <xs:annotation>
          <xs:appinfo source="alias">n/a</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="user defined" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CurrencyUnit">
    <xs:annotation>
      <xs:documentation>Acceptable currency units for Facility default units.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED" />
      <xs:enumeration value="AES" />
      <xs:enumeration value="ATS" />
      <xs:enumeration value="AUD" />
      <xs:enumeration value="BBD" />
      <xs:enumeration value="BEG" />
      <xs:enumeration value="BGL" />
      <xs:enumeration value="BHD" />
      <xs:enumeration value="BMD" />
      <xs:enumeration value="BND" />
      <xs:enumeration value="BRL" />
      <xs:enumeration value="BSD" />
      <xs:enumeration value="BWP" />
      <xs:enumeration value="BZD" />
      <xs:enumeration value="CAD" />
      <xs:enumeration value="CBD" />
      <xs:enumeration value="CHF" />
      <xs:enumeration value="CLP" />
      <xs:enumeration value="CNY" />
      <xs:enumeration value="CYS" />
      <xs:enumeration value="CZK" />
      <xs:enumeration value="DDP" />
      <xs:enumeration value="DEM" />
      <xs:enumeration value="DKK" />
      <xs:enumeration value="EGL" />
      <xs:enumeration value="EST" />
      <xs:enumeration value="EUR">
        <xs:annotation>
          <xs:appinfo source="alias">Euro</xs:appinfo>
          <xs:appinfo source="alias">Euros</xs:appinfo>
          <xs:appinfo source="alias">&#8364;</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FAK" />
      <xs:enumeration value="FIM" />
      <xs:enumeration value="FJD" />
      <xs:enumeration value="FKP" />
      <xs:enumeration value="FRF" />
      <xs:enumeration value="GBP">
        <xs:annotation>
          <xs:appinfo source="alias">British pound</xs:appinfo>
          <xs:appinfo source="alias">British pounds</xs:appinfo>
          <xs:appinfo source="alias">pounds</xs:appinfo>
          <xs:appinfo source="alias">pound</xs:appinfo>
          <xs:appinfo source="alias">&#163;</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GIP" />
      <xs:enumeration value="GMD" />
      <xs:enumeration value="GRX" />
      <xs:enumeration value="HKD" />
      <xs:enumeration value="HUF" />
      <xs:enumeration value="ICK" />
      <xs:enumeration value="IDR" />
      <xs:enumeration value="ILS" />
      <xs:enumeration value="INR" />
      <xs:enumeration value="IRP" />
      <xs:enumeration value="ITL" />
      <xs:enumeration value="JMD" />
      <xs:enumeration value="JOD" />
      <xs:enumeration value="JPY" />
      <xs:enumeration value="KES" />
      <xs:enumeration value="KRW" />
      <xs:enumeration value="KWD" />
      <xs:enumeration value="KYD" />
      <xs:enumeration value="LKR" />
      <xs:enumeration value="LUF" />
      <xs:enumeration value="MTL" />
      <xs:enumeration value="MUR" />
      <xs:enumeration value="MXN" />
      <xs:enumeration value="MYR" />
      <xs:enumeration value="NLG" />
      <xs:enumeration value="NZD" />
      <xs:enumeration value="OMR" />
      <xs:enumeration value="PGK" />
      <xs:enumeration value="PHP" />
      <xs:enumeration value="PKR" />
      <xs:enumeration value="PLN" />
      <xs:enumeration value="PTN" />
      <xs:enumeration value="QAR" />
      <xs:enumeration value="RUR" />
      <xs:enumeration value="SAR" />
      <xs:enumeration value="SCR" />
      <xs:enumeration value="SEK" />
      <xs:enumeration value="SGD" />
      <xs:enumeration value="SKP" />
      <xs:enumeration value="THB" />
      <xs:enumeration value="TRL" />
      <xs:enumeration value="TTD" />
      <xs:enumeration value="TWD" />
      <xs:enumeration value="USD">
        <xs:annotation>
          <xs:appinfo source="alias">Dollar</xs:appinfo>
          <xs:appinfo source="alias">Dollars</xs:appinfo>
          <xs:appinfo source="alias">$</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VEB" />
      <xs:enumeration value="VND" />
      <xs:enumeration value="XEU" />
      <xs:enumeration value="ZAR" />
      <xs:enumeration value="ZWD" />
      <xs:enumeration value="NOK" />
      <xs:enumeration value="not defined" />
      <xs:enumeration value="user defined" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LinearUnit">
    <xs:annotation>
      <xs:documentation>Picklist of linear units acceptable for Facility default linear units.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="centimeters">
        <xs:annotation>
          <xs:appinfo source="alias">centimeter</xs:appinfo>
          <xs:appinfo source="alias">cm</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="feet">
        <xs:annotation>
          <xs:appinfo source="alias">feets</xs:appinfo>
          <xs:appinfo source="alias">ft</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inches">
        <xs:annotation>
          <xs:appinfo source="alias">inch</xs:appinfo>
          <xs:appinfo source="alias">in</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="kilometers">
        <xs:annotation>
          <xs:appinfo source="alias">kilometer</xs:appinfo>
          <xs:appinfo source="alias">km</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="meters">
        <xs:annotation>
          <xs:appinfo source="alias">meter</xs:appinfo>
          <xs:appinfo source="alias">m</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="miles">
        <xs:annotation>
          <xs:appinfo source="alias">mile</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="millimeters">
        <xs:annotation>
          <xs:appinfo source="alias">millimeter</xs:appinfo>
          <xs:appinfo source="alias">mm</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yards">
        <xs:annotation>
          <xs:appinfo source="alias">yard</xs:appinfo>
          <xs:appinfo source="alias">yd</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="not defined" >
        <xs:annotation>
          <xs:appinfo source="alias">unknown</xs:appinfo>
          <xs:appinfo source="alias">n/a</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="user defined" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VolumeUnit">
    <xs:annotation>
      <xs:documentation>Acceptable volume units for Facility default units.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="cubic centimeters">
        <xs:annotation>
          <xs:appinfo source="alias">cubic centimeters</xs:appinfo>
          <xs:appinfo source="alias">cubic centimeter</xs:appinfo>
          <xs:appinfo source="alias">cubiccentimeters</xs:appinfo>
          <xs:appinfo source="alias">cubiccentimeter</xs:appinfo>
          <xs:appinfo source="alias">cm3</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cubic feet">
        <xs:annotation>
          <xs:appinfo source="alias">cubic feets</xs:appinfo>
          <xs:appinfo source="alias">cubic feet</xs:appinfo>
          <xs:appinfo source="alias">cubicfeets</xs:appinfo>
          <xs:appinfo source="alias">cubicfeet</xs:appinfo>
          <xs:appinfo source="alias">ft3</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cubic inches">
        <xs:annotation>
          <xs:appinfo source="alias">cubic inchs</xs:appinfo>
          <xs:appinfo source="alias">cubic inch</xs:appinfo>
          <xs:appinfo source="alias">cubicinches</xs:appinfo>
          <xs:appinfo source="alias">cubicinch</xs:appinfo>
          <xs:appinfo source="alias">in3</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cubic meters">
        <xs:annotation>
          <xs:appinfo source="alias">cubic meters</xs:appinfo>
          <xs:appinfo source="alias">cubic meter</xs:appinfo>
          <xs:appinfo source="alias">cubicmeters</xs:appinfo>
          <xs:appinfo source="alias">cubicmeter</xs:appinfo>
          <xs:appinfo source="alias">m3</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cubic millimeters">
        <xs:annotation>
          <xs:appinfo source="alias">cubic millimeters</xs:appinfo>
          <xs:appinfo source="alias">cubic millimeter</xs:appinfo>
          <xs:appinfo source="alias">cubicmillimeters</xs:appinfo>
          <xs:appinfo source="alias">cubicmillimeter</xs:appinfo>
          <xs:appinfo source="alias">mm3</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cubic yards">
        <xs:annotation>
          <xs:appinfo source="alias">cubic yards</xs:appinfo>
          <xs:appinfo source="alias">cubic yard</xs:appinfo>
          <xs:appinfo source="alias">cubicyards</xs:appinfo>
          <xs:appinfo source="alias">cubicyard</xs:appinfo>
          <xs:appinfo source="alias">yd3</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="not defined" />
      <xs:enumeration value="user defined" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AssetPortability">
    <xs:annotation>
      <xs:documentation>AssetPortability type represents an enumeration representing the portability of an asset:  fixed or moveable.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fixed" />
      <xs:enumeration value="Moveable" />
      <xs:enumeration value="not defined" />
      <xs:enumeration value="user defined" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EntityType">
    <xs:annotation>
      <xs:documentation>
        Entity type for a keys which are not strong defined in COBie. 
        Keys can only be defined for a types with unique name restriction.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Contact">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Contact</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Facility">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Facility</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Floor">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Floor</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Space">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Space</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Zone">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Zone</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetType">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Type</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Asset">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Component</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="System">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|System</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Spare">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Spare</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Resource">
        <xs:annotation>
          <xs:appinfo source="alias">UK2012|Resource</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProjectStage">
        <xs:annotation>
          <xs:appinfo source="alias">UK2016|ProjectStage</xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Not defined"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DurationUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="milisecond" />
      <xs:enumeration value="second" />
      <xs:enumeration value="minute" />
      <xs:enumeration value="hour" />
      <xs:enumeration value="day" />
      <xs:enumeration value="week" />
      <xs:enumeration value="month" />
      <xs:enumeration value="quarter" />
      <xs:enumeration value="year" />
      <xs:enumeration value="as required" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>